@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Red+Hat+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 270px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc {
    max-width: 400px;
    align-items: center;
    background-color: #6667AB;
    border: solid 3px #555697;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    width: 100%;    
}

#display {
    background-color: rgb(97, 111, 111);
    height: 110px;
    width: 83%;
    border: solid 2px;
    border-left-color: #424376 ;
    border-top-color: #424376 ;
    border-right-color: rgb(144, 144, 209 );
    border-bottom-color: rgb(144, 144, 209 );
    margin-bottom: 20px;
    padding: 5px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    cursor: pointer;
    text-align: right;
    background: none;
    max-width: 100%;
    /*color: rgb(23, 18, 18);  */
    font-size: 40px;
    font-family: 'Major Mono Display', monospace;
    font-weight: 600;
    color: transparent;
    text-shadow: 0 0 0 #211c1c;
    
}

input:focus{
    outline: none;
    cursor: pointer;
}

#memory {
    font-size: 24px;
}

#buttons {
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

button {
    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
    margin: 15px 5px 5px 5px;
    height: 65px;
    width: 65px;
    background-color: rgb(144, 144, 209);
    border-radius: 5px;
}

button:hover {
    border: solid 1px black;
}

#top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#numbers {
    height: 60%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#side {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom {
    width: 70%;
}

#enter {
    height: 150px;
    font-size: 16px;
}

#zero {
    width: 58%;
}