@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Red+Hat+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /*min-width: 270px;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc {
    max-width: 500px;
    align-items: center;
    background-color: #6667AB;
    border: solid 3px #555697;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    justify-content: center;  
}

#display {
    background-color: rgb(97, 111, 111);
    min-height: 100px;
    height: 13vh;
    width: 83%;
    max-width: 83vw;
    border: solid 2px;
    border-left-color: #424376 ;
    border-top-color: #424376 ;
    border-right-color: rgb(144, 144, 209 );
    border-bottom-color: rgb(144, 144, 209 );
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}
#display::-webkit-scrollbar{
    display: none;
}
p {
    text-align: right;
    background: none;
    max-width: 100%;
    font-size: 6vh;
    font-family: 'Major Mono Display', monospace;
    font-weight: 600;
    color: transparent;
    text-shadow: 0 0 0 #211c1c;
    
}



#memory {
    font-size: 1em;
}

#buttons {
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

button {
    font-size: 1.8em;
    font-family: 'Red Hat Display', sans-serif;
    margin: 5% 2% 2% 2%;
    height: auto;
    width: 28%;
    background-color: rgb(144, 144, 209);
    border-radius: 5px;
}

button:hover {
    -webkit-box-shadow:inset 0px 0px 0px 2px #424376;
    -moz-box-shadow:inset 0px 0px 0px 2px #424376;
    box-shadow:inset 0px 0px 0px 2px #424376;
}

#top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#numbers {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#side {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side button {
    width: 85%;
    margin: 17% 2% 2% 2%;
}

#bottom {
    width: 70%;
}

#enter {
    height: 45%;
    font-size: 1em;
}

#zero {
    width: 61%;
}