@font-face {
    font-family: "Display";
    src: url("./fonts/digital-display-tfb.ttf.woff");
} 

@font-face {
    font-family: "Buttons";
    src: url("./fonts/OPTIEdgar-Extended.otf");
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #9ba7b1;
    width: 100%;
    /*min-width: 270px;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc {
    min-width: 200px;
    max-width: 370px;
    align-items: center;
    background-color: #d7cec3;
    border: solid 4px;
    border-left-color: #f5f2ea;
    border-top-color: #f5f2ea;
    border-right-color: #78675b;
    border-bottom-color: #78675b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    justify-content: center;  
}

#display {
    background-color: #1c0d0f;
    /*min-height: 100px;*/
    height: 13vh;
    width: 83%;
    max-width: 83vw;
    border: solid 3px;
    border-left-color: #c1bec0;
    border-top-color: #c1bec0;
    border-right-color: #d4d2d1;
    border-bottom-color: #d4d2d1;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}
#display::-webkit-scrollbar{
    display: none;
}
p {
    text-align: right;
    background: none;
    max-width: 100%;
    font-size: 6vh;
    font-family: 'Display', monospace;
    font-weight: 400;
    color: transparent;
    text-shadow: 0 0 0 #f9165a;
    
}

#memory {
    font-size: 3.5vh;
}

#buttons {
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

button {
    font-size: 4.2vh;
    font-family: 'Buttons', sans-serif;
    margin: 5% 2% 2% 2%;
    height: auto;
    width: 28%;
    background-color: #e9ebf1;
    border-radius: 25px;
    border: solid 3px;
    border-right-color: #b0aeb0;
    border-bottom-color: #b0aeb0 ;
    border-left-color: #d4d2d1;
    border-top-color: #d4d2d1;
}

button:hover {
    -webkit-box-shadow:inset 0px 0px 0px 2px #424376;
    -moz-box-shadow:inset 0px 0px 0px 2px #424376;
    box-shadow:inset 0px 0px 0px 2px #424376;
}

#top {
    width: 100%;
    display: flex;
    justify-content: space-around;
} 

#top button , #side button {
    background-color: #198ed6;
    border-right-color: #146393;
    border-bottom-color: #146393;
    border-left-color: #4badeb;
    border-top-color: #4badeb;
}

#top button:first-child {
    color: #e9ebf1;
    background-color: #c9203e;
    border-right-color: #811529;
    border-bottom-color: #811529 ;
    border-left-color: #eb4765;
    border-top-color: #eb4765;
}

#numbers {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#numbers button {

    /*background-color: whitesmoke;*/

}

#side {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side button {
    background-color: #198ed6;
    width: 85%;
    margin: 17% 2% 2% 2%;
}

#bottom {
    width: 70%;
}

#enter {
    height: 45%;
    /*font-size: 1.8em;*/
}

#zero {
    width: 61%;
}